{"filesMd5":[{"android":"1.1.1","iOS":"1.1.0","page":"/pages/home/index.js","md5":"0bc97c84e6ca4595f2dc4dfdf9ae40f6"},{"android":"1.1.1","iOS":"1.1.0","page":"/pages/demo/index.js","md5":"fba9c9fa264364a2a8424940e783deb3"},{"android":"1.1.1","iOS":"1.1.0","page":"/pages/home/tab1/index.js","md5":"692dcf191a3ed5b300bcc51f8c3c4c05"},{"android":"1.1.1","iOS":"1.1.0","page":"/pages/home/tab2/components/router/index.js","md5":"34184ef37b63dd95c888681d46268de3"},{"android":"1.1.1","iOS":"1.1.0","page":"/pages/home/tab3/index.js","md5":"1d195de8b5dd8285e72dd6c2c0f24136"},{"android":"1.1.1","iOS":"1.1.0","page":"/pages/home/tab2/index.js","md5":"3f4e4ea87d2fe32e29768428452c2bb7"},{"android":"1.1.1","iOS":"1.1.0","page":"/iconfont/iconfont.ttf","md5":"fcfd6fc55b5308c896fadc1c08c4b1b0"}],"android":"1.1.1","iOS":"1.1.0","appName":"bm-weex-fe","jsVersion":"161ea242b304fff8e318cc6410d162d0","timestamp":1503025914340,"jsPath":false}
