{"filesMd5":[{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/index.js","md5":"5f1d615acdd21f1c02982c61b427761c"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/demo/index.js","md5":"3e8888763a92752a9e4464b176973780"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab1/index.js","md5":"1b23e228f0d001bfa77c8ec5b14e06a4"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/components/router/index.js","md5":"8ce820e360d80df57fb1d500deb23b20"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab3/index.js","md5":"fc34c7e59fad17c29cbc010a8cef9bb8"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/index.js","md5":"30e7706c488c6c7b0e03798ae35fadae"},{"android":"1.0.0","iOS":"1.0.0","page":"/iconfont/iconfont.ttf","md5":"fcfd6fc55b5308c896fadc1c08c4b1b0"}],"android":"1.0.0","iOS":"1.0.0","appName":"weex-eros-template","jsVersion":"3f4e60a4914015f90c615617f9db32b4","timestamp":1504506923225,"jsPath":false}
