{"filesMd5":[{"android":"1.0.0","iOS":"1.0.0","page":"/pages/demo/index.js","md5":"8dc05bf8e04b9b88034b1774538bf475"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/index.js","md5":"a004723aac7d5c3c71c43a661c2cc7bd"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/components/router/index.js","md5":"5758abfed75e2d6708959ff61887f842"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab1/index.js","md5":"72b31175eb74d143228969d077a1c6d9"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab2/index.js","md5":"382d6a3e7801e65563f1181a87ebc781"},{"android":"1.0.0","iOS":"1.0.0","page":"/pages/home/tab3/index.js","md5":"cfbfdf0ab5aed9d1043dbb81d8666f92"},{"android":"1.0.0","iOS":"1.0.0","page":"/iconfont/iconfont.ttf","md5":"ec86bfe5bdb872bad2b2af4f11da14f4"}],"android":"1.0.0","iOS":"1.0.0","appName":"weex-eros-template","jsVersion":"96609bd47019513f75b0be80731b96f9","timestamp":1504168265081,"jsPath":false}
